{
  "root": true,
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaVersion": 2017,
    "requireConfigFile": false
  },
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  /*"plugins": [
    "@hrax/now-best-practices"
  ],*/
  "extends": "eslint:recommended",
  "rules": {
    /* Stylistic Rules */
    "array-bracket-spacing": ["error", "never"],
    "array-bracket-newline": ["error", {"multiline": true }],
    "array-element-newline": ["error", "consistent"],
    "brace-style": [ "error", "1tbs" ],
    "camelcase": [ "error", {"properties": "always", "ignoreGlobals": true, "allow": ["^u_"]}],
    "comma-dangle": [ "error", "never" ],
    "comma-spacing": [ "error", { "before": false, "after": true }],
    "comma-style": [ "error", "last" ],
    "computed-property-spacing": ["error", "never"],
    "func-call-spacing": ["error", "never"],
    "function-paren-newline": ["error", "multiline"],
    "indent": [ "error", 2, { "SwitchCase": 1, "MemberExpression": 1 }],
    "key-spacing": [ "error", { "beforeColon": false, "afterColon": true }],
    "keyword-spacing": ["error", { "before": true, "after": true }],
    "line-comment-position": [ "error", { "position": "above" }],
    "max-depth": [ "warn", 4 ],
    "multiline-ternary": [ "error", "never" ],
    "new-parens": [ "error" ],
    "newline-per-chained-call": [ "error" ],
    "no-array-constructor": "error",
    "no-bitwise": [ "error" ],
    "no-delete-var": "error",
    "no-lonely-if": "error",
    "no-mixed-operators": "error",
    "no-mixed-spaces-and-tabs": "error",
    "no-multi-assign": "error",
    "no-multiple-empty-lines": "error",
    "no-nested-ternary": "error",
    "no-new-object": "error",
    "no-trailing-spaces": ["error", {"skipBlankLines": true, "ignoreComments": true}],
    "no-undef": "warn",
    "no-unneeded-ternary": "error",
    "no-unused-vars": ["warn", {"args": "none"}],
    "no-whitespace-before-property": "error",
    "object-curly-newline": ["error", { "multiline": true }],
    "object-curly-spacing": ["error", "never"],
    "object-property-newline": ["error", { "allowAllPropertiesOnSameLine": true }],
    "one-var": ["error", { "initialized": "never", "uninitialized": "always" }],
    "operator-linebreak": [ "error", "after" ],
    "padded-blocks": ["error", "never"],
    "quotes": ["error", "double"],
    "semi": ["error", "always"],
    "semi-spacing": ["error", {"before": false, "after": true}],
    "semi-style": ["error", "last"],
    "space-in-parens": ["error", "never"],
    "space-before-blocks": "error",
    "space-before-function-paren": ["error", "never"],
    "space-infix-ops": "error",
    "space-unary-ops": [ "error", {"words": true, "nonwords": false}],
    "spaced-comment": ["error", "always"],
    "wrap-regex": "error",

    /* Best Practices */
    "array-callback-return": "error",
    "block-scoped-var": "error",
    "complexity": "warn",
    "consistent-return": "error",
    "curly": ["error", "all"],
    "default-case": "error",
    "dot-location": ["error", "property"],
    "eqeqeq": ["error", "always", {"null": "ignore"}],
    "no-caller": "error",
    "no-else-return": "error",
    "no-eval": "error",
    "no-floating-decimal": "error",
    "no-iterator": "error",
    "no-magic-numbers": ["error", { "ignore": [-1,0,1], "ignoreArrayIndexes": true }],
    "wrap-iife": ["error", "inside"],

    /* Possible Errors */
    "for-direction": "error"
  }
}
